name: Integration Test
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master

      - name: Self test
        id: selftest
        uses: jacobtomlinson/gha-anaconda-package-version@master
        with:
          org: anaconda
          package: python

      - name: Check outputs
        run: |
          echo "${{ steps.selftest.outputs.version }}"
