name: Integration Test
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master

      - name: Self test
        id: selftest-semver
        uses: ./
        with:
          org: anaconda
          package: python

      - name: Check outputs
        run: |
          echo "${{ steps.selftest-semver.outputs.version }}"

      - name: Self test
        id: selftest-calver
        uses: ./
        with:
          org: conda-forge
          package: pangeo-notebook
          version_system: CalVer

      - name: Check outputs
        run: |
          echo "${{ steps.selftest-calver.outputs.version }}"
